body {
  --main-color: #fff579;
  --secondary-color: #ff7b1a;
  --tecondary-color: #434b3d;
  --fecondary-color: #e3f2fd;
  --fiecondary-color: #2962ff;
}

.app h3 {
  width: fit-content;
}

.app .fit_self {
  width: fit-content;
}
